# ***Tratamento de Dados e UpGrade do Modelo***
## Guia de Referência | Ciências de Dados
#### - Processos de Tratamento de Dados e Evolução do Modelo de Machine Learning Classificação
#### Jonatha Rodrigues T. Vaz | Ciência de Dados

#### ***Etapa 1 - Começando o Tratamento de Dados***
#### ***Etapa 2 - Incluindo a Informação de Gênero na Base***
#### ***Etapa 3 - Incluindo a Informação do Porto de Embarque***
#### ***Etapa 4 - Retirando Colunas da Base***

# Iniciando

## ***Etapa 1***
#### - Tratamento de Dados, Limpeza e Descarte de Informações Desnecessárias

In [2]:
# Importando o Pandas
import pandas as pd

In [3]:
# Importando a Base de Dados
base = pd.read_csv('titanic_train.csv')
base.head(5)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [4]:
# Retirando Colunas com Alta Cardinalidade
base = base.drop(['PassengerId', 'Name'], axis=1)

In [5]:
# Eliminando a Coluna "Cabin" pela alta Cardinalidade e quantidade de valores vazios
base = base.drop('Cabin', axis=1)

#### **OBS: Ao Invés de Apagar as Linhas onde é vazio, vamos substituir esses valores pela média das idades**

In [6]:
# Calculando a Média 
base['Age'].mean()

29.69911764705882

In [7]:
# Filtrando apenas Age vazio
base.loc[base.Age.isnull(),'Age']

5     NaN
17    NaN
19    NaN
26    NaN
28    NaN
       ..
859   NaN
863   NaN
868   NaN
878   NaN
888   NaN
Name: Age, Length: 177, dtype: float64

In [8]:
# Atribuindo a Média para esses Valores
base.loc[base.Age.isnull(),'Age'] = base['Age'].mean()

In [9]:
# Eliminando Todas as outras linhas com valores vazios 
base = base.dropna()

In [10]:
# Para Conseguir usar esses dados, não podemos ter dados do tipo objeto, eliminando novamente

# Novamente Eliminando os Dados do Tipo Objeto
colunas = base.dtypes[base.dtypes.values == 'object'].index
base = base.drop(colunas,axis=1)

In [11]:
# Verificando as Informações 
base.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 889 entries, 0 to 890
Data columns (total 6 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Survived  889 non-null    int64
 1   Pclass    889 non-null    int64
 2   Age       889 non-null    float64
 3   SibSp     889 non-null    int64
 4   Parch     889 non-null    int64
 5   Fare      889 non-null    float64
dtypes: float64(2), int64(4)
memory usage: 48.6 KB

# ***Inciando o mesmo Processo para a Base de Teste***

In [12]:
teste = pd.read_csv('titanic_train.csv')
teste = teste.drop(['PassengerId','Name'], axis=1)
teste = teste.drop('Cabin', axis=1)
teste.loc[teste.Age.isnull(), 'Age'] = teste.Age.mean()
teste = teste.drop(colunas,axis=1)

## ***Etapa 2***
#### - Incluindo a Informação de Gênero na Base

In [13]:
# Para a Basa de Treino
base = pd.read_csv('titanic_train.csv')
base.head(3)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S

In [14]:
# Quais Informações temos na nossa coluna de Gênero?
base.Sex.value_counts()

male      577
female    314
Name: Sex, dtype: int64

### ***Criando uma Nova Coluna apenas verificando se o valor é Male (Masculino)***

In [15]:
# Criando uma Função lambda para verificar essa Informação
base['IsMale'] = base.Sex.apply(lambda x:1 if x == 'male' else 0)

In [16]:
# Usando groupby para verificar a coluna criada
base.groupby(['Sex','IsMale'])['Sex'].count()

Sex     IsMale
female  0         314
male    1         577
Name: Sex, dtype: int64

#### **Fazendo os mesmos tratamentos da Etapa 1**

In [17]:
base = base.drop(['PassengerId','Name'],axis=1)
base = base.drop('Cabin',axis=1)
base.loc[base.Age.isnull(),'Age'] = base.Age.mean()
base = base.dropna()
base = base.drop(colunas,axis=1)

In [18]:
# Verificando as Informações 
base.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 889 entries, 0 to 890
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Survived  889 non-null    int64
 1   Pclass    889 non-null    int64
 2   Age       889 non-null    float64
 3   SibSp     889 non-null    int64
 4   Parch     889 non-null    int64
 5   Fare      889 non-null    float64
 6   IsMale    889 non-null    int64
dtypes: float64(2), int64(5)
memory usage: 55.6 KB

In [19]:
# Agora para a Base Teste
teste = pd.read_csv('titanic_train.csv')
teste['IsMale'] = teste['Sex'].apply(lambda x:1 if x == 'male' else 0)
teste = teste.drop(['PassengerId','Name'],axis=1)
teste = teste.drop('Cabin',axis=1)
teste.loc[teste.Age.isnull(),'Age'] = teste.Age.mean()
teste = teste.dropna()
teste = teste.drop(colunas,axis=1)

## ***Etapa 3***
#### - Incluindo a Informação do Porto de Embarque

In [20]:
# Para a Base de Treino 
base = pd.read_csv('titanic_train.csv')
base.head(3)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S

#### ***Como não existe uma relação entre os valores (um valor maior que outro), vamos usar o One Hot Encoding***

In [21]:
# Utilizando o get_dummies 
pd.get_dummies(base.Embarked).head(5)

   C  Q  S
0  0  0  1
1  1  0  0
2  0  0  1
3  0  0  1
4  0  0  1

In [22]:
# Unindo essas Informações na Base 
base = pd.concat([base,pd.get_dummies(base.Embarked)],axis=1)

### ***Fazendo os mesmos Tratamentos das Etapas Anteriores***

In [23]:
base = base.drop(['PassengerId','Name'],axis=1)
base['IsMale'] = base.Sex.apply(lambda x:1 if x == 'male' else 0)
base = base.drop('Cabin',axis=1)
base.loc[base.Age.isnull(),'Age'] = base.Age.mean()
base = base.dropna()
base = base.drop(colunas,axis=1)

In [24]:
# Agora para a Base Teste
teste = pd.read_csv('titanic_train.csv')
teste['IsMale'] = teste['Sex'].apply(lambda x:1 if x == 'male' else 0)
teste = pd.concat([teste,pd.get_dummies(teste.Embarked)],axis=1)
teste = teste.drop(['PassengerId','Name'],axis=1)
teste = teste.drop('Cabin',axis=1)
teste.loc[teste.Age.isnull(),'Age'] = teste.Age.mean()
teste = teste.dropna()
teste = teste.drop(colunas,axis=1)

## ***Etapa 4***
#### - Retirando Colunas da Base

In [25]:
base = pd.read_csv('titanic_train.csv')
base = pd.concat([base,pd.get_dummies(base.Embarked)],axis=1)
base = base.drop(['PassengerId','Name'],axis=1)
base['IsMale'] = base.Sex.apply(lambda x:1 if x == 'male' else 0)
base = base.drop('Cabin',axis=1)
base.loc[base.Age.isnull(),'Age'] = base.Age.mean()
base = base.dropna()
base = base.drop(colunas,axis=1)
base.head(5)

   Survived  Pclass   Age  SibSp  Parch     Fare  C  Q  S  IsMale
0         0       3  22.0      1      0   7.2500  0  0  1       1
1         1       1  38.0      1      0  71.2833  1  0  0       0
2         1       3  26.0      0      0   7.9250  0  0  1       0
3         1       1  35.0      1      0  53.1000  0  0  1       0
4         0       3  35.0      0      0   8.0500  0  0  1       1

In [26]:
# Podemos Retirar outras colunas da base
retirar = ['SibSp','Parch']
base = base.drop(retirar,axis=1)

In [27]:
teste = pd.read_csv('titanic_train.csv')
teste['IsMale'] = teste['Sex'].apply(lambda x:1 if x == 'male' else 0)

teste = teste.drop(['PassengerId','Name'],axis=1)
teste = teste.drop('Cabin',axis=1)
teste.loc[teste.Age.isnull(),'Age'] = teste.Age.mean()
teste = teste.dropna()
teste = teste.drop(colunas,axis=1)
teste = teste.drop(retirar,axis=1)

## ***Avaliando o Modelo***

In [28]:
# Definindo o X e y para o treino 
X_treino = base.drop('Survived',axis=1)
y_treino = base.Survived

In [29]:
# Separando X e y da Base
X_teste = teste.drop('Survived',axis=1)
y_teste = teste.Survived

## ***Usando Algoritmos e Avaliando o Erro***

In [30]:
# Importando os Algoritmos e Criando os Classificadores 


# from sklearn.neighbors import KNeighborsClassifier
# neigh = KNeighborsClassifier(n_neighbors=3)

# from sklearn import tree 
# clf_arvore = tree.DecisionTreeClassifier(random_state=0)

# from sklearn.linear_model import LogisticRegression
# clf_log = LogisticRegression(random_state=0, max_iter=1000)

In [31]:
# Fazendo o Fit (Treino) do Modelo


# neigh = neigh.fit(X_treino, y_treino)

# clf_arvore = clf_arvore.fit(X_treino, y_treino)

# clf_log = clf_log.fit(X_treino, y_treino)

In [32]:
# Fazendo a Predição


# pred_knn = neigh.predict(X_teste)

# pred_arvore = clf_arvore.predict(X_teste)

# pred_log = clf_log.predict(X_teste)

In [33]:
# Importando as Métricas de Avaliação 


# from sklearn.metrics import accuracy_score
# from sklearn.metrics import precision_score
# from sklearn.metrics import recall_score

In [34]:
# Acurácia 


# print(accuracy_score(y_teste,pred_knn))
# print(accuracy_score(y_teste,pred_arvore))
# print(accuracy_score(y_teste,pred_log))